/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c1811;
}

/* ---------------- Top Navbar ---------------- */
#top_nav {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid white;
  color: white;
  padding: 20px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
}

#top_nav.hide {
  visibility: hidden;
  opacity: 0;
}

/* Hamburger icon in top navbar */
#icon {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s;
}

#icon:hover {
  background-color: #E0D0B9;
}
nav div svg g:hover{
  fill: black;
}
/* Project name */
#top_nav div span {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  word-spacing: 10px;
  font-weight: 500;
  letter-spacing: 3px;
}

/* Buttons */
#button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vh;
}

.btn {
  height: 5vh;
  width: 10vh;
  border: none;
  border-radius: 10%;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  background-color: #E0D0B9;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/* ---------------- Sidebar ---------------- */
.container {
  position: relative;
  height: 100vh;
}

#sidebar {
  position: absolute;
  top: 0;
  left: -250px; /* hidden by default */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 250px;
  background-color: #E0D0B9;
  transition: left 0.3s ease-in-out;
  visibility: hidden;
}

#sidebar.show {
  left: 0;           /* slide in */
  visibility: visible;
}

/* Sidebar hamburger */
#icon2 {
  display: flex;
  width: 40px;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  height: 40px;
  margin-left: -154px;
  margin-top: 16px;
  transition: background-color 0.3s;
}

#icon2:hover {
  background-color: rgba(0, 0, 0, 0.275);
}

/* Sidebar menu */
#sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  width: 35vh;
  
}

#sidebar ul li {
  display: flex;
  justify-content: center;
  height: 10vh;
  
}



#sidebar ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5vh;
}
#sidebar ul li a:hover {
  width: 100%;
  transition-duration: 600ms;
  color: white;
  background-color: #0c1811;
}