*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
    --bg-dark: hsl(0,0%,0%);
    --bg: hsl(0,0%,5%);
    --bg-light: hsl(0,0%,10%);
    --text: hsl(0,0%,95%);
    --text-muted: hsl(0,0%,70%);
    --border: hsl(0,0%,30%);
    --span-text:hsl(0,100%,50%);
}
body.light{
    --bg-dark: hsl(0,0%,90%);
    --bg: hsl(0,0%,95%);
    --bg-light: hsl(0,0%,100%);
    --text: hsl(0,0%,5%);
    --text-muted: hsl(0,0%,30%);
    --border: hsl(0,0%,70%);
    --span-text:hsl(0,100%,50%);
}
body{
  background: var(--bg-dark);
}

#topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  padding: 10px;
  color: var(--text);
  border-bottom: 1px solid var(--border);
}
/* Logo is designed here */
#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#logo h2{
  width: 100%;
  font-size: medium;
  letter-spacing: 1px;
}


/* menu is designed here */
#menu{


}
#menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  flex: 1 1 auto; 
}
#menu ul li a{
  text-decoration: none;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--bg-light);
  padding: 10px;
  border-radius: 5px;
}
#menu ul li a:hover{
  background: var(--border);
  transition-duration: 400ms;
}


/* toggle */
#theme_toggle{
  height: 5vh;
  width: 15.5vh;
  background: var(--bg);
  border-radius: 30px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 7px;
  padding-right: 2px;
  gap: 10px;
}
#slide_toggle{
  border-radius: 100%;
  height: 25px;
  width: 25px;
  background: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#light_img{
  height: 17px;
  width: 17px;
  display: inline;
  transition-duration: 400ms;
  cursor: pointer;
}

#light_span{
  font-size: 10px;
  display: inline;
  transition-duration: 400ms;
  letter-spacing: 0.5px;
}

#dark_img{
  height: 17px;
  width: 17px;
  display: none;
  transition-duration: 400ms;
  cursor: pointer;
}
#dark_span{
  font-size: 10px;
  display: none;
  transition-duration: 400ms;
  letter-spacing: 0.5px;
}

/* Button design is here */
#buttons a{
  text-decoration: none;
}
#login_btn{
  padding: 10px;
  border-radius: 5px;
  background: var(--bg-light);
  border: 1px solid var(--border);
  color: var(--text);
  cursor: pointer;
}
#signup_btn:hover{
  background: var(--border);
}
#signup_btn{
  padding: 10px;
  border-radius: 5px;
  background: var(--bg-light);
  border: 1px solid var(--border);
  color: var(--text);
  cursor: pointer;
}




  /* sidebar styling */
#sidebar{
  visibility: hidden;
}

/* main design is here */


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Element at its original position */
  }
  40% {
    transform: translateY(-20px); /* Element moves upwards */
  }
  60% {
    transform: translateY(-15px); /* Element moves slightly upwards again */
  }
}

#content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1 1 auto;
  width: 100%;
  flex-wrap: wrap;
}
#text{
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: var(--text);
  flex: 1 1 auto;
  gap: 20px;
  padding-left: 10%;
}
#text p{
  color: var(--text-muted);

}
#study_image{
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
#span_1{
  color: var(--span-text);
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: larger;
}
#span_2{
  color: var(--span-text);
  letter-spacing: 1.5px;
  font-size: large;
  font-weight: 600;
  animation: bounce 2s infinite;
}
#main_img{
  height: 50%;
  width: 40%;
}